.Recipe {
  min-height: 100vh;
  background-color: #59fd64;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button {
    background-color: black;
    border: none;
    padding: 10px 20px;
    color: white;
}

.mainheading {
   display: flex;
   justify-content: center;
   font-size: 500;
   color: white;
}

.recipes {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
}